/* SignUp.css */

.input-field {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}
